<div class="bg-cover pd-header about-cover">
    <div class="container">
    <!-- <%- partial('_partial/bg-cover-content') %> -->
    <script>
        // 关于我页面修改为固定图片 2021-7-30 每天切换 banner 图.  Switch banner image every day.
        $('.bg-cover').css('background-image', 'url(/medias/banner/5.jpg)');
    </script>
        
    </div>
</div>